

<h2>How to Book a Bus Online on  Online Ticket Booking System?</h2>
<p>Bus Booking | A to Z of Booking Online Bus Tickets</p>
<ul>
    <li>Enter the Source and Destination locations in the "From" and "To" tab respectively.</li>
    <li>Enter the "Date of Journey" and hit the "Search" button to check available bus tickets online.</li>
    <li>Select a bus of your choice from the list of buses that are displayed.</li>
    <li>Select a seat, boarding, and dropping points and hit"Proceed to Book" for final bus booking.</li>
    <li>Fill in the "Passenger Information" and "Contact Information".</li>
    <li>You can even choose to insure your bus booking so that you will be covered in case of an accident or loss of luggage and then click “Proceed to Pay”.</li>
    <li>Enter the offer code (if applicable), select your mode of payment and complete the payment procedure for bus tickets online.</li>
    <li>Once this is done, you will receive an M-ticket on your mobile and an e-ticket on the email ID that was entered under “Contact Information.”</li>
</ul>

<div class="line"></div>

<h2>Online Bus Booking during Covid-19</h2>
<p>If you are worrying about booking a bus ticket online during the Covid-19 pandemic, we have brought you detailed travel guidelines in different states of India. Kindly check the following while planning a trip.</p>

<div class="line"></div>

<h3>News About Buses | India Bus Updates</h3>
<ul>
   <li>MSRTC has launched first e-bus 'Shivaee' on Pune-Ahmednagar route on 1st June 2022. </li>
   <li>The state of West Bengal has introduced 1200 electric buses in its capital Kolkata.</li>
   <li>Double decker buses may return to the roads of Hyderabad.</li>
   <li>A new bus terminal to come up at Solar in Erode.</li>
   <li>TSRTC hikes bus fare for services during the festive season.</li>
   <li>Kerala State Road Transport Corporation (KeralaRTC ) will roll out 116 more buses for operating long-haul services.</li>
   <li>MSRTC Pune division will be increasing its bus operations.</li>
   <li>Megahalaya to have 100 mini buses for school kids to reduce traffic jams. </li>
   <li>The much-awaited modern bus shelters project in Delhi is to start this year.</li>
   <li>Kerala RTC has officially banned playing loud music on the mobile phone speaker and speaking loudly over the phone while travelling in the buses.</li>
   <li>Chandigarh Transport Undertaking (CTU) has planned to start shuttle bus service to Chandigarh Airport soon.</li>
</ul>

